@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #00fffc;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  text-align: center;
}

.timeline-box {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 30px;
  max-width: 100%;
  width: 350px;
}

.timeline {
  background-color: #fc00ff;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 0%;
  z-index: -1;
  transition: 0.4s ease;
}

.timeline-box::before {
  content: " ";
  background-color: #fffc00;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  z-index: -1;
}

.circle {
  background-color: #333;
  border-radius: 50%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #fffc00;
  font-size: 14px;
  height: 30px;
  width: 30px;
  transition: 0.4s ease;
}

.circle.active {
  border-color: #fc00ff;
  color: #fff;
}

.btn {
  background-color: #fc00ff;
  border: 0;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  font-size: 14px;
  padding: 8px 30px;
  margin: 5px;
}

.btn:active {
  transform: scale(0.98);
}

.btn:disabled {
  background-color: #fffc00;
  cursor: not-allowed;
}

.btn:focus {
  outline: none;
}
