* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  overflow: hidden;
  height: 100vh;
  background-color: #000;
}
div {
  height: 100vh;
}

/* this will show up the bubbles */
span {
  position: absolute;
  pointer-events: none;
  background-color: #ffff66;
  border-radius: 50%;
  animation: animate 2s linear infinite;
}
@keyframes animate {
  0% {
    transform: scale(0) translateX(0) rotate(90deg);
  }
  100% {
    transform: scale(5) translateX(1000%) rotate(360deg);
    opacity: 1;
  }
}
