@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  cursor: none;
  font-family: "Bebas Neue", cursive;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #333;
  position: relative;
}
.container h1 {
  color: #fff;
  font-size: 10rem;
  cursor: none;
}
.illumination {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  background: radial-gradient(
/*     using the value of variable from js */
    circle at var(--x) var(--y),
    transparent -10%,
    rgba(0, 0, 0, 0.95) 25%
  );
}
