@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap");

* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: auto;
  background: #0f0c29; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  font-family: "PT Serif", serif;
}

input {
  font-size: 2rem;
}
.dateInput {
  margin: 0 0 2rem 13.5rem;
}

span {
  color: #fff;
  font-size: 2rem;
  padding: 1rem 0 0 1rem;
}

p {
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
}
h1 {
    font-size: 3rem;
    text-align: center;
    color: rgb(189, 189, 189);
}

/* for mobile view */
@media only screen and (max-width: 600px) {
    input {
        font-size: 1rem;
    }
    .dateInput {
        margin: 0 0 0 5rem;
    }
    span {
        font-size: 1rem;
        padding: 0 0 0 1rem;
    }
    .clock {
        width: 360px;
        display: grid;
        padding: 1rem 0 0 5rem;
    }
    p {
        font-size: 0.7rem;
        margin-left: -3.5rem;
    }
    h1 {
        font-size: 1.5rem;
        display: table-caption;
        padding-left: 7.5rem;
        margin-top: -6rem;
    }
}
