@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: 800;
  background: url(./purepng.png);
  background-repeat: no-repeat;
  background-size: 200px 200px;
  background-position-x: 50%;
  background-position-y: -30%;
}

.container {
  position: absolute;
  width: auto;
  margin-left: -15rem;
  height: 2.5rem;
  top: 50%;
  margin-top: -1.25rem;
}

p {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  color: #333;
}

.specification {
  position: absolute;
  width: 15rem;
  opacity: 0;
}
.letter {
  position: relative;
  float: left;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}

.letter.out {
  transform: rotateX(-90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.letter.behind {
  transform: rotateX(90deg);
}
.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.58s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.beautiful {
  color: #ffbe0b;
}
.awesome {
  color: #fb5607;
}
.big {
  color: #ff006e;
}
.trouble {
  color: #8338ec;
}
@media only screen and (max-width: 600px) {
  body {
    font-size: 1rem;
  }
}
