* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
body {
    background: rgb(238, 174, 202);
	background: linear-gradient(
		30deg,
		rgba(238, 174, 202, 1) 0%,
		rgba(148, 187, 233, 1) 100%
	);
}
