@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Bebas Neue", cursive;
  background: #f12711; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f5af19,
    #f12711
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f5af19,
    #f12711
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.text {
  position: absolute;
  top: 8rem;
  text-align: center;
  letter-spacing: 0.1rem;
}
.container {
  display: flex;
}

.container .eyes {
  position: relative;
  width: 100px;
  height: 100px;
  display: block;
  background-color: #fff;
  margin: 0 20px;
  border-radius: 50%;
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.2), inset 0 0 15px #f5af19,
    inset 0 0 25px #f5af19;
}
.container .eyes::before {
  content: "";
  top: 50%;
  left: 35px;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #000;
  position: absolute;
  border: 10px solid skyblue;
  box-sizing: border-box;
}
