*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: antiquewhite;
  color: #333;
  line-height: 1.5;
  font-size: 1rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

main {
  display: grid;
  min-height: 100vh;
  place-items: center;
}
nav {
  background-color: beige;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.toggleBtn {
  font-size: 1.5rem;
  color: #333;
  background: transparent;
  border-color: transparent;
  border: none;
  transition: all 0.3s linear;
  cursor: pointer;
}
.toggleBtn:hover {
  color: saddlebrown;
  transform: rotate(90deg);
}
.links {
  height: 0;
  overflow: hidden;
  transition: all 0.3s linear;
}
.links a {
  color: #333;
  font: 1rem;
  text-transform: capitalize;
  display: block;
  padding: 0.5rem 1rem;
  transition: all 0.3s linear;
}
.links a:hover {
  background: #333;
  color: #fff;
  padding-left: 1.5rem;
}

.active {
  height: 10rem;
}

@media screen and (min-width: 800px) {
  .nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1170px;
    margin: 0 auto;
    padding: 1rem;
  }
  .header {
    padding: 0;
  }
  .toggleBtn {
    display: none;
  }
  .links {
    height: auto;
    display: flex;
  }
  .links a {
    padding: 0;
    margin: 0 0.5rem;
  }
  .links a:hover {
    padding: 0;
    background: transparent;
    color: saddlebrown;
    transform: scale(1.2);
  }
}
