* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    transition: all 0.2s ease;
}
.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    background-color: #333;
    border-radius: 50px;
    width: 15rem;
    height: 5rem;
}
.light {
    background-color: #000;
    border-radius: 100%;
    position: relative;
    height: 2.5rem;
    width: 2.5rem;
    transition: all 0.2s ease;
}
.light.Turquoise {
    background-color: #00FFFC;
    box-shadow: 0px 0px 20px 5px #00FFFC;
}
.light.Pink {
    background-color: #FC00FF;
    box-shadow: 0px 0px 20px 5px #FC00FF;
}
.light.Yellow {
    background-color: #fffc00;
    box-shadow: 0px 0px 20px 5px #fffc00;
}
