* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  overflow: hidden;
  background: #000;
}
#canvasID {
  position: absolute;
  top: 0;
  left: 0;
}
p {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: absolute;
}
