@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  font-family: "Cinzel Decorative", cursive;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: floralwhite;
}

.container .box {
  position: absolute;
  width: 500px;
  height: 500px;
}
.container .box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 100%;
  opacity: 0.1;
  transform: rotate(45deg);
  transform-origin: left;
}
.container .box .circle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: 1;
  background: linear-gradient(135deg, #fff, floralwhite);
  box-shadow: 20px 20px 60px #c1c2c5, -20px -20px 60px #ffffff;
}
.container .box .circle::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  bottom: 5px;
  right: 5px;
  border-radius: 50%;
}

.container .box .circle h1 {
  z-index: 2;
  font-size: 5rem;
  position: absolute;
  color: #f40009;
  text-align: center;
}
/* styling the new element i */
.container i {
  position: absolute;
  background: #f40009;
  border-radius: 100%;
  animation: animate linear infinite;
}

.container i:nth-child(even) {
  background: transparent;
  border: 1px solid #000000;
}
/* adding animations */
@keyframes animate {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-2000%);
  }
}
