* {
    box-sizing: border-box;
}
h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: auto;
}

.calculator {
    flex: 0 0 95%;
}

.result-screen {
    width: 100%;
    font-size: 5rem;
    padding: 0.5rem;
    background: #333;
    color: white;
    border:none;
    border-radius: 5px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
}

button {
    font-size: 2rem;
    flex: 0 0 25%;
    border: 0.1rem solid black;
    border-radius: 5px;
    padding: 0.25rem 0;
}

button:hover {
    background: azure;
}