* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #7e00ff;
}

/* the styling of the sqaures would change afterwards */
.squares {
  border: 60px solid #81ff00;
  position: absolute;
  transform: translate(-50%, -50%) rotate(0deg);
  animation: 10s ease-in-out infinite;
}
