@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
  text-align: center;
  font-family: "Major Mono Display", monospace;
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
}

button {
  border: none;
  outline: none;
  padding: 1.5rem;
  margin-left: 1rem;
  font-size: 2.5rem;
  margin-top: -2rem;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Major Mono Display", monospace;
}
button:hover {
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
}
h1 {
  font-size: 6rem;
}
h4 {
  font-size: 5rem;
  margin-top: -2rem;
  border-radius: 50px;
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: 20px 20px 60px #0d1b21, -20px -20px 60px #11252d;
  padding: 1rem;
}
/* for mobile view */
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 2rem;
    margin-right: 4rem;
    margin-top: -2rem;
  }
  h4 {
    font-size: 2rem;
    margin-right: 4rem;
    margin-top: 2rem;
  }
  button {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    margin-left: 3.5rem;
    margin-top: 1rem;
    justify-content: center;
    padding: 1rem;
  }
}
