@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Cinzel Decorative", cursive;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #333;
  overflow: hidden;
}

.words {
  position: relative;
  color: #fff;
  font-weight: 800;
  font-size: 5rem;
  letter-spacing: 0.8rem;
  text-align: center;
/*   making it rotate 30 deg and skew it 25deg */
  transform: rotate(30deg) skew(25deg);
}
.words::before {
  content: attr(data-words);
  position: absolute;
  top: 30px;
  left: -30px;
  color: rgba(0, 0, 0, 0.3);
  text-shadow: none;
  filter: blur(8px);
  z-index: -1;
}
