* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.img-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  min-height: 100vh;
  grid-gap: 1rem;
}

.img-container {
  overflow: hidden;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.img-container img:hover {
  transform: scale(1.2);
}

.modal {
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  transition: 0.25s ease-out;
}
.modal.open {
  opacity: 1;
  pointer-events: all;
}
.modal p {
  color: #fff;
  font-size: 2rem;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -5%);
}

.big-image {
  position: absolute;
  height: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  transition: all 0.25s ease-in-out;
}

.big-image.open {
  transform: translate(-50%, -50%) scale(1);
}
