@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Rock Salt", cursive;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #00ff9e;
}
h2 {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 2rem;
  text-align: center;
  color: #1e00ff;
}
.container {
  max-width: 350px;
  margin: 50px auto;
  background-color: #e1ff00;
  border-radius: 5px;
  border: 0.5px solid #333;
  margin-top: 7rem;
}
.container .listItem {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #333;
}
.container .listItem:last-child {
  border-bottom: 0;
}
.container .listItem input:checked + p {
  background-color: #ff0061;
  text-decoration: line-through;
}
.container .listItem input:checked {
  background-color: #ff0061;
}
.container .listItem input[type="checkbox"] {
  margin: 20px;
}
.container .listItem p {
  margin: 0;
  padding: 20px;
  transition: background 0.2s;
  flex: 1;
  border-left: 1px solid #333;
}
