@import url("https://fonts.googleapis.com/css2?family=Lexend&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
  font-family: "Lexend", sans-serif;
}
body {
  background-color: #333;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}
#canvasID {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
p {
  position: absolute;
  color: #fff;
  text-align: center;
  top: 10%;
  font-size: 2rem;
  pointer-events: none;
}
