* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(65, 11, 245, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  background-color: #333;
}
#canvasId {
  position: absolute;
  width: 350px;
  height: 500px;
  top: 50%;
  left: 50%;
  border: 3px solid #fff;
  transform: translate(-50%, -50%);
}
