@import url("https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "RocknRoll One", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f12711; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f5af19,
    #f12711
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f5af19,
    #f12711
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px 0;
  transform-style: preserve-3d;
}

.wrapper .card {
  position: relative;
  cursor: pointer;
  width: 450px;
  height: 300px;
  margin: 60px 0;
  background-color: #000;
  transform-style: preserve-3d;
}
.wrapper .card:hover {
  box-shadow: 0 50px 80px rgba(0, 0, 0, 0.2);
}
.wrapper .card .image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.wrapper .card .image img {
  width: 450px;
  height: 300px;
}

.wrapper .card .info {
  position: absolute;
  background: #333;
  color: #fff;
  padding: 40px 25px;
  transform-origin: top;
  transform: translateZ(20px) scaleY(0);
  transition: 0.5s;
  transform-style: preserve-3d;
}
/* the information of the image will slide in when card is hovered */
.wrapper .card:hover .info {
  transform: translateZ(20px) scaleY(1);
}
