@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #fffafa;
}
h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10%;
  text-align: center;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 350px;
}
.activity {
  background-color: rgb(214, 214, 214);
  box-shadow: 0 0 2px rgb(151, 151, 151);
  margin: 5px;
  height: 15px;
  width: 15px;
  transition: 3s ease;
  overflow:hidden;
  border-radius: 2px;
}
.activity:hover {
  transition-duration: 0s;
  overflow:hidden;
}
