* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  background: #710808;
}

#svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* animation: fill 0.5s ease forwards infinite; */
}

/* the length which we got using js will be used here for stroke-dasharray & stroke-dashoffset */
#svg path:nth-child(2) {
  stroke-dasharray: 534.528076171875;
  stroke-dashoffset: 534.528076171875;
  animation: animate 2s ease forwards infinite;
}
#svg path:nth-child(3) {
  stroke-dasharray: 506.4454345703125;
  stroke-dashoffset: 506.4454345703125;
  animation: animate 2s ease forwards infinite;
}
#svg path:nth-child(4) {
  stroke-dasharray: 668.7830810546875;
  stroke-dashoffset: 668.7830810546875;
  animation: animate 2s ease forwards infinite;
}
#svg path:nth-child(5) {
  stroke-dasharray: 364.6990966796875;
  stroke-dashoffset: 364.6990966796875;
  animation: animate 2s ease forwards infinite;
}
#svg path:nth-child(6) {
  stroke-dasharray: 506.4462890625;
  stroke-dashoffset: 506.4462890625;
  animation: animate 2s ease forwards infinite;
}

@keyframes animate {
  to {
    stroke-dashoffset: 0;
  }
}
