body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(65, 11, 245, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

.container {
  width: 20vw;
  height: 20vw;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(65, 11, 245, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  .top {
    width: 0%;
    position: absolute;
    top: 0;
    left: 0;
    height: 0.5rem;
    background: #fff;
  }
  .right {
    height: 0%;
    position: absolute;
    width: 0.5rem;
    top: 0;
    right: 0;
    background: #fff;
  }
  .bottom {
    width: 0%;
    position: absolute;
    height: 0.5rem;
    bottom: 0;
    right: 0;
    background: #fff;
  }
  .left {
    height: 0%;
    position: absolute;
    width: 0.5rem;
    bottom: 0;
    left: 0;
    background: #fff;
  }
}
