@import url("https://fonts.googleapis.com/css2?family=Lexend+Mega&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  align-items: center;
  background: #fdf8f5;
  font-family: "Lexend Mega", sans-serif;
}

.content {
  color: #4f4846;
  font-weight: 700;
  font-size: 6rem;
  width: 100%;
  text-align: center;
  text-shadow: 1px 1px 0 #e8cebf;
  outline: none;
}
