.container {
    text-align: center;
    height: 100%;
    width: 50%;
    padding: 2rem 0 2rem 0;
    margin: 7rem 0 0 20rem;
    border-radius: 50px;
    background: linear-gradient(145deg, #ffffff, #e6e6e6);
    box-shadow:  20px 20px 60px #d9d9d9, 
                -20px -20px 60px #ffffff;
}