@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #f8f8f8;
  background: #ee9ca7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffdde1,
    #ee9ca7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffdde1,
    #ee9ca7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: "Source Code Pro", monospace;
  padding: 0 1rem 0 1rem;
}

.container {
  position: relative;
  width: 450px;
  text-align: center;
}

.container h1 {
  font-size: 2.5rem;
  color: #333;
}

.container input {
  position: relative;
  width: 100%;
  height: 60px;
  border: none;
  margin: 15px 0 20px;
  background: transparent;
  outline: none;
  padding: 0 40px;
  font-size: 1.5rem;
  letter-spacing: 4px;
  border-radius: 8px;
  box-sizing: border-box;
  color: #333;
  background: #ee9ca7;
  font-family: "Source Code Pro", monospace;
  box-shadow: inset 20px 20px 60px #ffffff, inset -20px -20px 60px #ffb3c0;
  text-decoration: none;
}

.container input::placeholder {
  letter-spacing: 0px;
}

.container .button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  background: #333;
  color: #fff;
  font-size: 2rem;
  padding: 10px 15px;
  border-radius: 8px;
}
.container .button:hover {
  color: #333;
  background: #ee9ca7;
}
i {
  position: absolute;
  top: 80px;
  right: 15px;
  cursor: pointer;
  opacity: 0.3;
}

i:hover {
  opacity: 1;
}

.show {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: rgb(105, 6, 6);
  color: #fff;
  text-align: center;
  font-size: 5rem;
  display: none;
}
.show.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* changing the font size of the copied password for mobile view */
@media only screen and (max-width: 600px) {
  .show {
    font-size: 1.5rem;
  }
}
