@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Noto Sans JP", sans-serif;
}
body {
  justify-content: center;
  align-items: center;
}
h1 {
  background-color: #333;
  color: #fff;
  height: 12vh;
  width: 20vw;
  font-size: 2.5vw;
  margin: 1rem;
  padding: 1rem;
  position: relative;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
}
.Red:hover {
  background-color: red;
  color: #fff;
}
.Blue:hover {
    background-color: blue;
    color: #fff;
  }
  .Yellow:hover {
    background-color: yellow;
    color: #333;
  }
  .all:hover {
    background-color: deeppink;
    color: #fff;
  }
.wrapper {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: center;
}
.tag {
  height: 19vh;
  width: 19vw;
  border-radius: 25px;
  margin: 5px;
  text-align: center;
}
.red {
  background-color: red;
}
.blue {
  background-color: blue;
}
.yellow {
  background-color: yellow;
}
