* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  background: #fffbd5; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #b20a2c,
    #fffbd5
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #b20a2c,
    #fffbd5
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.container {
  width: 15rem;
  height: 5rem;
  position: relative;
  margin: 50px auto;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.container span {
  display: block;
  position: absolute;
  height: 1.5rem;
  width: 100%;
  background: #c31432; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #240b36,
    #c31432
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #240b36,
    #c31432
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  border-radius: 10px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

/* keeping the top line on the top */
.container span:nth-child(1) {
  top: 0px;
}

/* arranging the 2 and 3 line on the same position */
.container span:nth-child(2),
.container span:nth-child(3) {
  top: 40px;
}

/* and the third line on the bottom */
.container span:nth-child(4) {
  top: 80px;
}

/* now on clicking the top will vanish away */
.container.open span:nth-child(1) {
  top: 20px;
  width: 0%;
  left: 50%;
}

/* 2 line will be helping in making the cancel symbol */
.container.open span:nth-child(2) {
  transform: rotate(45deg);
}
/* and the 3 line will be the helping hand for cancel symbol */
.container.open span:nth-child(3) {
  transform: rotate(-45deg);
}

/* 4 line will also vanish away */
.container.open span:nth-child(4) {
  top: 20px;
  width: 0%;
  left: 50%;
}
